/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans, San Francisco, Roboto, Segoe UI, "Helvetica"';
}

body {
  margin: 0;
}
